#header_div {
    text-align: center;
    color: rgb(236, 220, 220);
    background-color: darkslategrey;
    font-family: 'Times New Roman', Times, serif;
}

#about_div,#msit_div,#contact_div {
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

table {
    border-collapse: collapse;
    width: 80%;
    border-spacing: 5px;
}

td, th {
border: 1px solid #584b4b;
text-align: center;
padding: 8px;
}

tr:nth-child(even) {
background-color: #c2b4b4;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}


input[type=submit] {
    width: 100%;
    background-color: rgb(64, 95, 65);
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    cursor: pointer;
}